<template>
    <form>
        <div class="row">
            <div class="col-12 text-center">{{ errmsg }}</div>
        </div>
        <div class="row" v-for="(user, index) in users">
            <div class="col-8">
                <div class="form-group row">
                    <label v-if="user.guest == 0" class="col-4 col-form-label">Customer Name</label>
                    <label v-else class="col-4 col-form-label">Guest Name</label>
                    <div class="col-8">
                        <input type="text"  v-model="user.name" :name="'name['+index+']'" v-on:keyup="autoComplete(index)"  data-vv-as="Name" v-validate="'required'" class="form-control">
                        <span class="error" v-if="errors.has('name['+index+']')">{{errors.first('name['+index+']')}}</span>

                        <div class="panel-footer" v-if="results.length && index == tabindex" >
                            <ul class="list-group">
                                <li class="list-group-item" v-for="result in results">
                                    {{ result.first_name }} {{ result.last_name }}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="form-group row" v-if="user.guest == 0">
                    <label class="col-4 col-form-label">Email</label>
                    <div class="col-8">
                        <input type="email" name="email" v-validate="'required|email'" v-model="user.email" class="form-control">
                        <span class="error">{{ errors.first('email') }}</span>
                    </div>
                </div>
                <div class="form-group row" v-if="user.guest == 1" >
                    <label  class="col-4 col-form-label">Phone</label>
                    <div class="col-8">
                        <input type="text" :name="'phone['+index+']'" data-vv-as="Phone" v-validate="'required|phoneNumber'" v-model="user.phone" class="form-control" >
                        <span class="error" v-if="errors.has('phone['+index+']')">{{errors.first('phone['+index+']')}}</span>
                    </div>
                </div>
                <div class="form-group row" v-if="user.guest == 0">
                    <label  class="col-4 col-form-label">Workshop Time</label>
                    <div class="col-8">
                        <select class="form-control" name="workshop_id" v-validate="'required'" data-vv-as="Workshop" v-model="user.workshop_id" >
                            <option v-for="(item, index) in workshop" :value=item.id>
                                {{item.name}}
                            </option>
                        </select>
                        <span class="error">{{ errors.first('workshop_id') }}</span>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <button type="button" class="close"  aria-label="Close" @click="removeUser(index)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="row _btnGuest" style="margin-top: 1rem;">
            <div class="col-12">
                <button class="btn btn-primary float-right" type="button" v-on:click="addUser">Add Guest</button>
            </div>
        </div>

        <div class="row _btnGuest" style="margin-top: 1rem;">
            <div class="col-12">
                <button class="btn btn-primary float-right" type="button" v-on:click="formSubmit">Book Workshop</button>
            </div>
        </div>


    </form>
</template>

<script>

    import VeeValidate from 'vee-validate'
    import { Validator } from 'vee-validate';
    import PhoneNumber from 'awesome-phonenumber'

    Vue.use(VeeValidate)

    const phoneNumber = {
        getMessage: field => `${field} is not a valid phone number`,
        validate (value) {
            return new Promise(resolve => {
                let phone = new PhoneNumber(value);
                resolve({ valid: phone.isValid() })
            })
        }
    }
    Validator.extend('phoneNumber', phoneNumber)


    export default {
        mounted() {
            //console.log('Component mounted.')
        },
        props:['workshop'],
        data() {
            return {
                users:[],
                errmsg: null,
                query: '',
                tabindex: null,
                results: []
            };
        },
        methods: {
            autoComplete( index ){
                let user = this.users[index];
                let query = user.name;
                this.tabindex = index;

                this.results = [];


                if( query.length > 2){
                    axios.get('/booking/search',{params: {query: query}}).then(response => {

                        // console.log( response );

                        if ( response.data.length == 1 ){
                            user.name = response.data[0].first_name + ' ' + response.data[0].last_name;
                            user.email = response.data[0].email;
                            user.phone = response.data[0].phone;
                            user.customer_id = response.data[0].id;
                        } else {
                            this.results =  response.data ;
                        }



                    });
                }
            },
            formSubmit(e) {
                e.preventDefault();
                //console.log('submit form');

                this.$validator.validate().then(valid => {
                    if (!valid || this.users.length == 0) {
                        // do stuff if not valid.
                        //console.log( this.errors.all() );

                    } else {



                        axios.post('/booking/save', {users: this.users}).then(res => {
                            this.errmsg = null
                            //console.log(res.data);

                            alert("Congrats! You'r booked");

                        }).catch(error => {

                            //console.log(error)

                            this.errmsg = error.response.data.message

                        })

                    }
                });

            },
            removeUser( index ) {


                if ( index == 0){
                    this.users.splice(index, 1);
                    if ( this.users.length ) this.users[0].guest = false;
                } else {
                    this.users.splice(index, 1);
                }

            },
            addUser(e) {
                e.preventDefault();

                if ( this.users.length ) {
                    this.users.push({  name: '', guest: true, email: '', phone: '', workshop_id: 0, customer_id: 0} );
                } else {
                    this.users.push( {  name: '', guest: false, email: '', phone: '', workshop_id: 0, customer_id: 0} );
                }

            }
        }
    }
</script>

